<div class="mdl-cell mdl-cell--3-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
<div class="wallace-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--6-col">
	<div class="wallace-content-confirm-sent">
		<h2>
			<i class="material-icons mdl-color-text--orange-300 icon">lock</i>
		</h2>
		<h3>Email Sent</h3>
		<p class="mdl-color-text--grey-600">
			An email has been sent to your email address. Please follow the instructions in the email and click the link to reset your password.
		</p>
	</div>
</div>
