<div class="mdl-cell mdl-cell--3-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
<div class="wallace-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--6-col">
	<div class="wallace-content-confirm-sent">
		<h2>
			<i class="material-icons mdl-color-text--orange-300 icon">lock</i>
		</h2>
		<h3>Reset your password</h3>
		<p class="mdl-color-text--grey-600">
			Choose a new password for your account.
		</p>
		<form class="wallace-signup-form" ng-submit="setPassword()">
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="password" ng-model="data.password">
				<label class="mdl-textfield__label mdl-color-text--grey-400 " for="email">New password</label>
			</div>
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="password" ng-model="data.passwordConfirm">
				<label class="mdl-textfield__label mdl-color-text--grey-400 " for="email">Enter again</label>
				<span class="mdl-textfield__error" ng-style="(data.passwordConfirm && data.password != data.passwordConfirm) && { 'visibility': 'visible' }">Password does not match</span>
			</div>
			<input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--white mdl-color-text--light-blue-700 mdl-cell--4-col" value="Submit">
		</form>
	</div>
</div>
