<li data-type="button" data-key="Plus">
  <a class="grouped-left" title="Plus" aria-label="Plus">
    <button class="buttonicon buttonicon-plus" title="Plus" aria-label="Plus"></button>
  </a>
</li>

<li data-type="button" data-key="Search">
  <a class="grouped-right" title="Search" aria-label="Search">
    <button class="buttonicon buttonicon-search" title="Search" aria-label="Search"></button>
  </a>
</li>