<li data-type="button" data-key="Clear format">
  <a class="grouped-left" title="Clear format" aria-label="Clear format">
    <button class="buttonicon buttonicon-format-clear" title="Clear format" aria-label="Clear format"></button>
  </a>
</li>

<li class="separator"></li>

<li data-type="button" data-key="font size">
  <a class="grouped-left" title="Font Size" aria-label="Font Size">
    <button class="buttonicon buttonicon-fs" title="Font Size" aria-label="Font Size"></button>
  </a>
</li>

<li data-type="button" data-key="h1">
	<a class="grouped-middle" title="Heading 1" aria-label="Heading 1">
		<button class="buttonicon buttonicon-h1" title="Heading 1" aria-label="Heading 1"></button>
	</a>
</li>
<li data-type="button" data-key="h2">
	<a class="grouped-middle" title="Heading 2" aria-label="Heading 2">
		<button class="buttonicon buttonicon-h2" title="Heading 2" aria-label="Heading 2"></button>
	</a>
</li>
<li data-type="button" data-key="h3">
	<a class="grouped-right" title="Heading 3" aria-label="Heading 3">
		<button class="buttonicon buttonicon-h3" title="Heading 3" aria-label="Heading 3"></button>
	</a>
</li>