<div class="size-selection" data-btn-toggle data-target=".buttonicon.buttonicon-fs" data-val="dummy">
	<ul>
		<li><a href="javascript:void(0);" data-value="fs12" style="font-size: 12px;">Small</a></li>
		<li><a href="javascript:void(0);" data-value="fs16" style="font-size: 16px;">Normal</a></li>
		<li><a href="javascript:void(0);" data-value="fs28" style="font-size: 28px;">Large</a></li>
		<li><a href="javascript:void(0);" data-value="fs40" style="font-size: 40px;">Huge</a></li>
	</ul>
</div>