<script id="tmpl-sidebar-left" type="text/html">
	<div class="wallace_inner_left_container">
		<div class="expand-button">⟩</div>
		<div class="inner-wrapper">
			<div class="wallace_users hidden">
				<!-- <span class="wallace_user"><span class="user-online-status"></span></span> -->
				<span class="wallace_user_new"></span>
				<!-- <span class="wallace_user_more">and 2 more</span> -->
				<br style="clear: both;" />
				<div class="invite-form hidden">
					<h2>Invite to Collaborate</h2>
					<p>Enter the email address of the persone you would like to invite. We'll send an email to them with a link to access this paper.</p>
					<form>
						<input class="input" placeholder="Email address" type="email" name="email">
						<input type="submit" class="button" value="Submit">
					</form>
				</div>
			</div>

			<div class='wallace_modes'>
				Editing Mode	
			</div>

			<div class='wallace_toc'>
				<div class='toc_header'><span class='toc_icon'></span>Table Of Contents</div>
				<a class='toc_item toc_item_level_1 item-cover' data-target='cover'>Cover</a>
				<a class='toc_item toc_item_level_2 item-abstract' data-target='abstract'>Abstract</a>
				<a class='toc_item toc_item_level_2 item-introduction' data-target='introduction'>Introduction</a>
				<a class='toc_item toc_item_level_2 item-literature-review' data-target='literature-review'>Literature review</a>
				<a class='toc_item toc_item_level_2 item-methodology' data-target='methodology'>Methodology</a>
				<a class='toc_item toc_item_level_2 item-results' data-target='results'>Results</a>
				<a class='toc_item toc_item_level_2 item-discussion' data-target='discussion'>Discussion</a>
				<a class='toc_item toc_item_level_2 item-conclusion' data-target='conclusion'>Conclusion</a>
			</div>
			
		</div>
	</div>
</script>