<div class="mdl-layout__header-row mdl-color--light-blue-700 paper-header">
	<a class="back-button mdl-layout-icon mdl-button mdl-js-button mdl-button--icon mdl-color-text--grey-100" ui-sref="library">
		<i class="material-icons">arrow_back</i>
	</a>
	<div class="mdl-textfield mdl-js-textfield mdl-layout-title mdl-color-text--grey-100">
	    <input
	    	class="mdl-textfield__input is-dirty" type="text"
	    	id="paper-title" ng-blur="updateTitle($root.title)"
	    	ng-keydown="$event.which === 13 && titleEnter($event)"
	    	ng-model="$root.title" value="Loading...">
	    <label class="mdl-textfield__label" for="paper-title"></label>
	  </div>
	<div class="mdl-layout-spacer"></div>
	<button id="wallace-menu-lower-right" class="mdl-button mdl-js-button mdl-color-text--grey-100">
     	<i class="material-icons mdl-text-color--grey-100">more_vert</i>
    	<span class="name mdl-color-text--grey-100">{{ $root.user.fullName }}</span>
  	</button>
	<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="wallace-menu-lower-right">
		<li class="mdl-menu__item" ng-click="$root.signOut()">Sign Out</li>
		<li class="mdl-menu__item" ui-sref="library">Library</li>
	</ul>
</div>
