<li><a href="#" data-key="align" class="font_size">Font Size</a>
  <ul class="submenu">
    <select class="size-selection">
        <option value="dummy" selected data-l10n-id="ep_font_size.size">Size</option>
        <option value="0">Small</option>
        <option value="1">Normal</option>
        <option value="2">Large</option>
        <option value="3">Huge</option>
    </select>
  </ul>
</li>

